body, html
  margin 0
  height 100%

#map
	width 100%
	height 100%

.navbar
  margin-bottom 0px

.hidden
  display none

#map-container
  width 100%
  height 100%
  padding 0px

#map
  width 100%
  height 100%

  .leaflet-top .leaflet-control
    margin-top 61px

  .leaflet-control-layers
    visibility hidden

#search-wrapper
  position fixed
  top 123px
  left 10px
  max-height 82%

#search
#search-results
  width 350px
  border-radius 4px
  box-shadow 0 1px 5px rgba(0, 0, 0, 0.65)

#search-results
  margin-top 10px

  .list-group-item
    padding 3px 10px

    h4
      font-size 14px
      margin-top 5px
      margin-bottom 3px
    p
      margin 0 0 5px

#overlay
  width 100%
  height 100%
  position fixed
  top 0
  left 0
  z-index 1000
  background-color rgba(0, 0, 0, 0.5)

  .container
    margin-top 200px

  .jumbotron .glyphicon
    margin-right 12px

  #files
    visibility hidden

