doctype html
html
  head
    title Karttapisteet
    link(rel='stylesheet', href='leaflet.css')
    link(rel='stylesheet', href='leaflet.label.css')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    script(src='js/bundle.js')

    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='#', data-type='basic') Peruskartta
            li
              a(href='#', data-type='background') Taustakartta
            li
              a(href='#', data-type='orto') Ortoilmakuva
            li
              a(href='#', data-type='openStreetMap') OpenStreetMap

    #map-container(role='main')
      #map

    #popup-template(style='display: none;')
      .panel.panel-default
        .panel-heading
          span.nimi
          span.lat
          span.lng
        .panel-body
          p.kuvaus

          .field-container.container-fluid
            .row
              label.col-md-3 Paikkakunta
              span.col-md-3.paikkakunta
            .row
              label.col-md-3 Tarkenne1
              span.col-md-3.tarkenne1
              label.col-md-3 Tarkenne2
              span.col-md-3.tarkenne2
            .row
              label.col-md-3 Luokittelu
              span.col-md-3.luokittelu
              label.col-md-3 Varmuus
              span.col-md-3.varmuus

    #search
      .input-group
        span.input-group-addon
          span.glyphicon.glyphicon-search
        input.form-control(type='text', placeholder='Hae kohteita')

    #search-results(style='display: none;')
      .wrapper
        ul.list-group
          a.list-group-item(href='#')
            span.nimi

    #no-search-results(style='display: none;')
      ul.list-group
        span.list-group-item Ei hakutuloksia

    #categories(style='display: none;')
      ul.list-group
        a.list-group-item.selected(href='#')
          span.glyphicon.glyphicon-ok
          span.category-name

    #overlay
      .container
        .jumbotron
          h2 Lue esitett&auml;v&auml;t kohteet
          p (Vinkki: voit my&ouml;s raahata tiedostot ikkunan p&auml;&auml;lle)
          p
            input#files(type='file', name='files[]', multiple='', webkitdirectory='')
            a.btn.btn-primary.btn-long(type='file', name='files[]')
              span.glyphicon.glyphicon-folder-open
              span Valitse kohdetiedostot...

